<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" name="CBoosterTestSuite">

	<listeners>
		<listener class-name="com.bixbytes.qa.cbooster.utilities.ExtentReportNG" />
		<listener class-name="com.bixbytes.qa.cbooster.utilities.ITestListner" />
		
	</listeners>
<groups>
<run>
<include name="SmokeTest" />
<include name="FunctionalPositive" />
<include name="FunctionalNegative" />
</run>
</groups>
   
  <test name="ConfigurationPLPositive">
  <classes>
      <class name="com.bixbytes.qa.cbooster.testcases.Configure_SLA_Positive_Testcases"/>
  </classes>
  </test>
   
     <test name="ConfigurationPLNegative">
  <classes>
      <class name="com.bixbytes.qa.cbooster.testcases.Configure_SLA_Negative_Testcases"/>
  </classes>
  </test>
   
</suite>
