<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="CBoosterTestSuite">

	<listeners>
		<listener class-name="com.bixbytes.qa.cbooster.utilities.ExtentReportNG" />
		<listener class-name="com.bixbytes.qa.cbooster.utilities.ITestListner" />
		
	</listeners>
<groups>
<run>
<include name="SmokeTest" />
<include name="FunctionalPositive" />
<include name="FunctionalNegative" />
</run>
</groups>
  
   <test name="ConfigurationPositive">
  <classes>
      <class name="com.bixbytes.qa.cbooster.testcases.Configure_Positive_Testcases"/>
  </classes>
  </test>
 

   
</suite>
